<body class="container-fluid">
<section>
  <h2 class="text-center">EAT IT! YOU WANT TO EATS IT!</h2>
</section>

<!--INPUT Field to add more burgers to the list, with button linked to insert Query-->
<div class = "row">
  <section class = "col-sm-2"></section>
<section class="col-sm-8">
  <form class="create-form">
    <article class="form-group">
      <label for="yum">Burger TO CONSUME</label>
      <input type="text" id= "yum">
    </article>

    <button type = "submit">To CONSUME</button>
  </form>
</section>
</div>

<div class="row">
<section class="col-sm-1"></section>

<!--Burger list of each uneaten burger-->
<section class ="col-sm-4">
  <h4>Burgers To CONSUME!</h4>
  <ul>
      {{#each burgers}}
        {{#unless this.devoured}}
              {{>burgers/burger-block devoured=false}}
        {{/unless}}
      {{/each}}
</ul>
</section>

<section class="col-sm-1"></section>
<!--Burger list of each eaten burger-->
<section class ="col-sm-4">
  <h3>Burgers Which have been CONSUMED!</h3>  
  <ul>
    {{#each this.burgers}}
      {{#if this.devoured}}
        {{> burgers/burger-block devoured=true}}  
      {{/if}}
    {{/each}}
  </ul>
</section>

</div>
</body>