<section>
  <h2 class="text-center">EAT IT! YOU WANT TO EATS IT!</h2>
</section>

<!--INPUT Field to add more burgers to the list, with button linked to insert Query-->
<section>
  <h3>Burgers to Devour:</h3>
  <form class="create-form">
    <article class="form-group">
      <label for="yum">Burger</label><br>
      <input type="radio" name="yum">
    </article>

    <button type = "submit">To Devour</button>
  </form>
</section>

<!--Burger list of each uneaten burger-->
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <li>{{burger_name}}</li>>
    {{/unless}}
  {{/each}}
</ul>

<!--Burger list of each eaten burger-->
<h3>Burgers Which have been consumed</h3>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>