
<li>
	{{burger_name}}

	<button class="change-devoured"  data-newDevoured="{{devoured}}" data-id="{{id}}">
		{{#if devoured}}
            CONSUME AGAIN?
        {{else}}
            CONSUME
        {{/if}}
	</button>
</li>