
<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}
            CONSUME AGAIN?
        {{else}}
            CONSUME
        {{/if}}
	</button>
</li>